[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

angr = "*"
pwntools = "*"
"r2pipe" = "*"
monkeyhex = "*"
qtconsole = "*"
"pry.py" = "*"


[dev-packages]

nose = "*"
